/* 1: gde ostalinye crylia
   2: menu doljno byt v dve colonki
*/

:root {
  --borders-color:  #EBC591;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding:0;
  text-align: center;
  background-color: #ecdcc2;
  font-size: 18px;
  font-family: "Monomakh", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

#navbar header {
  color: #413b2c;
}
#navbar {
  top: 0px;
  left: 0px;
  position: fixed !important;
  width: 100vw;
  height: 12vh;
  background: #a69179;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border: 10px double #7e634e; 
}

.background {
  position: absolute;
  height: 200px;
  width: 100vw;
  margin-bottom: 50px;
  background-color: #bebaa5; 
  border: 5px double  var(--borders-color);
}

.mill {
  position: relative;
}

.rectangle {
  position: relative;
  margin: 100px auto 0px auto;
  border: 2px solid #0ca0aa;
  background-color: #0ca0aa;
  height: 200px;
  width: 150px;
  max-width: 500px;
  max-height: 500px;
}

.roof {
  position: relative;
  height: 0px;
  width: 0px;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-top: 80px solid transparent;
  border-bottom: 80px solid #3d2519;
  top: -160px;
  left: -6px;
}

.light.right {
  position: relative;
  height: 0px;
  width: 0px;
  border-left: 80px solid transparent;
  border-right: 30px solid transparent;
  border-top: 80px solid transparent;
  border-bottom: 80px solid #543b34;
  top: -390px;
  left: -6px; 
}

.light.middle {
  z-index: 1;
  position: relative;
  height: 0px;
  width: 0px;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 80px solid transparent;
  border-bottom: 80px solid #543b34;
  top: -550px;
  left: 45px;
}

.window {
  position: relative;
  border: 1px solid white;
  background-color: white;
  border-radius: 45% 45% 0 0;
  height: 70px;
  width: 53px;
  top: -120px;
  left: 44px;
}

.dot {
  z-index: 2;
  position: relative;
  background-color: #3b250e;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  top: -595px;
  left: 65px;
}

.line.thick {
  z-index: 1;
  background-color: #3b250e;
  height: 15%;
  width: 80%;
  border-radius: 45% 0 0 45%;
  position: absolute;
  top: -24%;
  left: 79%;
  transform-origin: -30%;
  animation-name: wheel;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.line.thin {
  z-index: 1;
  background-color: #3b250e;
  height: 5%;
  width: 80%;
  border-radius: 45% 0 0 45%;
  position: absolute;
  top: -20%;
  left: 55%;
  transform-origin: left;
  animation-name: wheel;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.line.thick.second {
  transform: rotate(90deg);
}

.line.thick.third {
  transform: rotate(180deg);
}

.line.thick.fourth {
  transform: rotate(270deg);
}


.line.thin.second {
  transform: rotate(90deg);
}

.line.thin.third {
  transform: rotate(180deg);
}

.line.thin.fourth {
  transform: rotate(270deg);
}



.ambar {
  color: beige;
  background: #7e634e;  
}

.quote {
  padding: 10px;
  color: #413b2c;
  background: beige;
  border: 2px solid #7e634e;
}

header {
  color: #413b2c;
  text-align: center;
  vertical-align: center; 
  width: 100vw;
  padding-top: 5px;
  background-color: #a69179;
  border: 10px double #7e634e;
}

.main-section {
  margin-bottom: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.main-section p {
  margin: 0 10px;
}

img {
  border: 10px double var(--borders-color);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  background: #a69179;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap; 
}

a {
  color: #7e634e;
}

a:hover {
  color: beige;
}

@media (max-width: 600px) {
  img {
    width: 300px;
    height: auto;
}
}

@media (min-width: 601px) {
  img {
    width: 400px;
    height: auto;
  }
}

li {
  list-style: none;
}

@keyframes wheel{
  0% {
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(360deg);
   }
}
